body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.mdl-textfield {
	width: auto;
}
.mdl-card {
	width: auto;
}
.section--center {
	max-width: 860px;
}
#dataout {
	width: 100%;
}
.lockerbutton {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 40px;
	margin-bottom: 40px;
	z-index: 900;
}
.saverbutton {
	position: fixed;
	display: block;
	left: 0;
	bottom: 0;
	margin-left: 40px;
	margin-bottom: 40px;
	z-index: 900;
}
#fixed-tab-3 {
	z-index: 9001;
}
table {
	width: 100%;
}
.mdl-data-table td {
	vertical-align: middle !important;
	padding: 12px 18px !important;
}
.mdl-data-table td {
	vertical-align: middle !important;
	position: relative !important;
	left: 0 !important;
}
@media screen and (max-width: 768px) {
	table {
		margin-bottom: 0;
		background-color: transparent;
	}
	table > thead,
	table > tfoot {
		display: none;
	}
	table > tbody {
		display: block;
	}
	table > tbody > tr {
		display: block;
		margin-bottom: 1.6rem;
		height: auto !important;
		box-shadow: 0px 2px 4px #757575;
	}
	table > tbody > tr > td {
		display: block;
		vertical-align: middle;
		text-align: right;
	}
	table > tbody > tr > td[data-title]:before {
		content: attr(data-title);
		float: left;
		font-size: inherit;
		font-weight: 400;
		color: #757575;
	}
}
.mdl-card--table__header {
	height: 64px
}
.demo-card-wide.mdl-card {
	width: 512px;
}
.mdl-card__table,
table {
	width: 100%;
	margin: 0em;
}

